body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9cf3f9;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.containertitulo{
    border: solid #9cf3f9;
    margin: 10px;
}
header {
    background-color: #333;
    color: rgb(55, 143, 146);
    padding: 10px 0;
    font-size: 50px;
    font-family: algerian;
    text-align: center;

}
header h1 {
    margin: 0;
    padding: 0 0 0 20px;
}
.word {
    display: inline-block;
    width: 250px; 
    height: 50px;
    margin: 20px 18px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    background-color: #ddd;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    border: solid black  ;
    background-color: cadetblue;
}
.definition{
    display: none;
}